.icons>svg {
  width: 33px;
  height: 33px;
}

.icons {
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 17px;
}

.line {
  width: 100%;
  border-bottom: 1px solid grey;
  height: 1px;
}

.header {
  display: flex;
  height: 65px;
  margin: auto;
  background-color: white;
  width: 95%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}