.header {
  width: calc(100vw - 640px);
  height: 55px;
  background-color: #e9e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.participants {
  display: flex;
  align-items: center;
}

.container {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
}

.chatarea {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 90%;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;
}

.mychatelem {
  background-color: skyblue;
  width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  padding: 8px;
  margin: 2px;
  font-size: 16px;
}

.theirchatelem {
  background-color: greenyellow;
  width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  padding: 12px;
  margin: 2px;
  margin-right: 13px;
}

.messageform {
  display: flex;
  align-items: center;
  width: 90%;
  height: 55px;
  margin: auto;
}

.button {
  width: 100px;
  height: 32px;
  background-color: #008272;
  color: white;
  border: none;
  margin: 0;
}

.button:hover {
  cursor: pointer;
  background-color: #00695d;
}

.footer {
  height: 55px;
  background-color: #e9e8e8;

}