.flexcontainer {
    display: flex; 
}

.menuelem {
    display: flex; 
    height: 100px; 
    border-bottom: 0.5px lightgrey solid; 
    width: 360px;
}
.menuelemtitle {
    font-size: 20px;
    color: #008272;
}

.button {
    background-color: #008272;
    color: white; 
    font-size: 14px;
    border: none;  
    padding: 5px;
    height: 35px;
}

.button:hover {
    background-color: #00695d;
    color: white; 
    cursor: pointer; 

}
.imagecontainer {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.firstrow {
    display: flex; 
    justify-content: space-between; 
    width: 250px; 
    margin-top: 5px; 
}
.date {
    margin-top: 5px;
    font-size: 12px;
}
.content {
    width: 250px;
    max-width: 250px;
    word-wrap: break-word;
}
.sidebar {
    width: 360px; 
    background-color: #F0F0F0;
    height: 100vh; 
}

.error {
    color: red; 
    font-size: 14px; 
    margin-left: 8px; 
    line-height: 35px; 
    margin-top: 20px;
    margin-bottom: 0px;
}

#2 {
    color: green;
}