
.inputfield {
  width: 400px;
  height: 25px;
  font-size: 17px;
  display: block;
  border-top: none; 
  border-left: none; 
  border-right: none; 
}

.buttonfield {
  width: 170px;
  height: 33px;
  font-size: 18px;
  background-color: #008272;
  color: white; 
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  display: block;
}

.buttonfield:hover {
  cursor: pointer; 
  background-color: #016459;
}

.inputfield:focus{
  outline: none;
  border-bottom: 2px solid black; 
}
#loginfooter {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
#demofooter {
  width: 400px;
  margin: auto;
  margin-top: 55px;
}
#demofooterh2 {
  text-align: center;
  margin-bottom: 10px;
}
.desctext {
  font-size: 10px;
}


#demofooter button {
  background-color: #008272;
  color: white; 
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
#demofooter button:hover {
  cursor: pointer; 
  background-color: #016459;
}

.links {
  color: blue;
  font-size: 15px;
}
.links:hover {
  color:rgb(0, 0, 158);
  text-decoration: underline;

}

#error {
  color: red; 
  font-size: 14px; 
  margin-left: 15px;
  line-height: 33px; 
  margin-top: 4px;
  margin-bottom: 0px;
}