.cardLayout {
    margin-bottom: 10px;
}

.cardName {
    font-size: 12pt;
    font-weight: bold;
}

.cardPosition {
    font-size: 10pt;
    color: #4d4d4d
}

.cardDatetime {
    font-size: 12pt;
    font-weight: bold
}

.cardMemo {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 11pt
}

.memoHeader {
    width: 100%;
}

.contentLayout {
    width: 100%;
    overflow: auto
}

.memoDivider {
    margin: 15px 0;
}

.memoComment {
    padding-left: 30px;
}