.reportLayout {
  height: 100%;
  position: relative;
}

.cardLayout {
  margin-top: 10px;
  margin-bottom: 15px;
}

.cardName {
  font-size: 14pt;
  font-weight: bold;
}

.cardPosition {
  font-size: 11pt;
  color: #4d4d4d
}

.cardDatetime {
  font-size: 13pt;
  font-weight: bold
}

.cardMemo {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 13pt
}

.memoHeader {
  width: 100%;
}

.contentLayout {
  width: 100%;
  height: calc(100% - 220px);
  overflow: auto;
}

.cardListLayout {
  width: 100%;
  padding: 0 10px;
}

.memoFooterGroup {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.memoFooter {
  padding: 0 15px;
}

.memoDivider {
  margin: 15px 0;
  border: 1px solid #e8e8e8;
}

.memoComment {
  padding-left: 30px;
}