.parentdiv {
    width: 100vw; 
    height: 100vw; 
    background-color: #E0E0E0;
}
.menubar {
    float: left; 
    width: 280px;
    height: 100vh;
    background-color: #008272;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.icons>svg {
    width: 33px;
    height: 33px;
}

.menuitem>svg {
    width: 33px;
    height: 33px;
}

.menuitem {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-weight: 600;
    transition: all 300ms;
}

.logoutitem {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    width: 280px;

}

.menuitem:hover{
    color: black; 
    background-color: #015c4d;

}

.logoutitem:hover {
    color: black; 
    background-color: #015c4d;

}

#child {
    height: 100vh;
    width: calc(100vw - 280px);
    float: right; 

}