.bodyLayout {
    height: 100%;
}


.sideLayout {
    width: 280px;
    height: 100%;
    background-color: #008272;
    border-right: 1px solid #004139;
    padding: 60px 0px;
    z-index: 100;
}

.contentLayout {
    height: 100%
}

.sidebar {
    background-color: transparent;
    border: 0;
}

.menuIcon {
    width: 18pt;
    height: 18pt;
    margin-right: 15px;
}

.menuLabel {
    font-size: 18pt;
    font-weight: bold;
    margin: 10px 0;
}

.signoutButton {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: transparent;
    border: 0;
    text-align: left;
    font-size: 18pt;
    font-weight: bold;
    padding: 4px 24px;
    margin: 10px 0px;
    color: #000;
    position: absolute;
    bottom: 60px;
}

.signoutButton:hover,
.signoutButton:focus {
    background-color: transparent;
    color: #fff;
}