.profileImage {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.userName {
    font-size: 14pt;
    font-weight: bold;
}

.milRank {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5pt;
}

.userDodid {
    font-size: 12pt;
    color: #444;
}

.infoLabel {
    font-size: 14pt;
    font-weight: bold;
}

.infoContent {
    font-size: 12pt;
}

.elementRow {
    margin: 7px 0px;
    padding: 0px 15px;
}

.userProfile {
    margin-left: 15px;
}