.profileImage {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.userName {
    font-size: 18pt;
    font-weight: bold;
}

.milRank {
    font-size: 16pt;
    font-weight: bold;
    margin-left: 5pt;
}

.infoLabel {
    font-size: 14pt;
    font-weight: bold;
}

.infoContent {
    font-size: 12pt;
}

.elementRow {
    margin: 7px 0px;
    padding: 0px 25px;
}

.userProfile {
    margin-bottom: 15px;
}