.profileImage {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.userProfile {
    margin-bottom: 15px;
}

.formSelect {
    width: 100px;
}

.parentSelect {
    width: 300px;
}

.infoLabel {
    font-size: 14pt;
    font-weight: bold;
}

.infoContent {
    font-size: 12pt;
}

.formInput {
    width: 180px;
    height: 30px;
    border: 1px solid #d9d9d9;
}

.elementRow {
    margin: 7px 0px;
    padding: 0px 25px;
}