.cardButton {
    width: auto;
    height: auto;
    padding: 0;
    border: transparent;
    border-radius: 30pt;
    background-color: transparent;
}

.profileImage {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 100%;
}

.cardContent {
    width: 220px;
    padding: 10px 0px;
    border: 1px solid #777;
    border-radius: 30pt;
}