.inputfield {
  width: 380px;
  height: 35px;
  margin: auto;
  font-size: 17px;
  display: block;
  border-top: none; 
  border-left: none; 
  border-right: none; 
  margin-top: 20px;
}

.buttonfield {
  width: 170px;
  height: 33px;
  font-size: 18px;
  background-color: #008272;
  color: white; 
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  display: block;
  margin: auto;
}

.buttonfield:hover {
  cursor: pointer; 
  background-color: #016459;
}

.inputfield:focus{
  outline: none;
  border-bottom: 2px solid black; 
}

.inputdesc {
  color: darkgrey; 
  font-size: 13px;
}

#loginfooter {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

.links {
  color: blue;
  font-size: 15px;
}
.links:hover {
  color:rgb(0, 0, 158);
  text-decoration: underline;

}