.formLayout {
    border-radius: 50%;
}

.formLabel {
    font-size: 16pt;
    font-weight: bold;
    line-height: 0;
}

.formElement {
    margin: 20px 0px;
}

.formTitle {
    font-size: 18pt;
    font-weight: bold;
    line-height: 30px;
}

.formTitleInput {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #d1d1d1;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
}

.formTypeInput {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color: #d1d1d1;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
}

.formOrgInput {
    width: 440px;
    height: 40px;
    padding: 5px 10px;
    background-color: #d1d1d1;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
}

.formAdditionInput {
    width: 440px;
    height: 40px;
    padding: 5px 10px;
    background-color: #d1d1d1;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
}

.formDropdown {
    background-color: #d1d1d1;
    width: 330px;
}

.formContentInput {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    background-color: #d1d1d1;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    resize: none;
}

.plusButton {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.removeButton {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    background-color: transparent;
}