.systemLayout {
    padding: 15px 30px;
}

.systemTitle {
    font-size: 16pt;
    font-weight: bold;
    margin: 10px;
}

.linkedNode {
    margin: 0px 7px;
}

.scrollableView {
    height: calc(100% - 100px);
    margin-top: 10px;
    overflow-y: auto;
}

.formButton {
    background-color: transparent;
    color: #333;
    border: 2px solid #777;
}