.background {
    height: 100%; 
    display: block; 
}
.line {
    width: 100%; 
    border-bottom: 1px solid grey; 
    height: 1px;
    
    
}

.formarea {
    width: 700px;
    height: 100%; 
    margin: auto; 
    background-color: grey; 
    
}